.protectedContainer{
    display: flex;
    box-sizing: border-box;
}

.outletContainer{
    flex: 1;
    padding-bottom: 70px;
    padding-top: 30px;
}

@media (min-width: 1024px){
    .outletContainer{
        padding: 0;
    }
}