.primaryBtn{
    background-color: var(--primary-btn-color);
    color: white;
    font-size: var( --font-md);
    padding: 10px;
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    font-weight: 600;
}

.primaryBtn:hover{
    background-color: var(--primary-hover-color);
    transition: all 0.2s;
}

.primaryBtn:active{
    transform: scale(0.99);
    transition: all 0.2s;
}