.topBarContainer{
    display: flex;
    box-sizing: border-box;
    flex-flow: row;
    flex-direction: row;
    width: 100%;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
    padding: 0 40px;
    justify-content: space-between;
    align-items: center;
}

.profilePicture{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    text-align: center;
    color: white;
    background-color: rgb(255, 76, 103);
    display: flex;
    align-items: center;
    justify-content: center;
}

.usernameInitial{
    font-size: var( --font-md);
}

@media (min-width: 1024px) {
    .topBarContainer{
        display: none;
    }
}