.title{
    display: block;
    margin-bottom: 10px;
}

.subTitle{
    font-weight: 300;
    font-size: var(--font-md);
    text-align: center;
    margin-top: 0px;
}

.titleContainer{
    display: flex;
    flex-flow: column;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}