.settingsContainer{
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 16px;
    display: flex;
    flex-flow: column;
    flex-direction: column;
    gap: 0px;
    margin: 50px auto 0px auto;
}

.subTitle{
    color: var(--muted-color);
    text-transform: uppercase;
}

.profileForm{
    width: 100%;
    display: flex;
    flex-flow: column;
    flex-direction: column;
    gap: 20px;
}

.profileSection{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--primary-btn-color);

    display: flex;
    flex-flow: row;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.profileInitial{
    color: white;
}

.logoutButton{
    margin: 30px auto 0 auto;
    width: 100%;
    background-color: var(--danger-bg-soft);
    color:var(--danger-color);
    border: 1px solid rgba(239,68,68,0.12);
    border-radius: var(--border-radius);
    font-size: var(--font-md);
    font-weight: 600;
    height: 40px;
    display: flex;
    flex-flow: row;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: all 0.2s;
}

.logoutButton:hover{
    background-color: rgba(239,68,68,0.12);
    cursor: pointer;
    transition: all 0.2s;
}

.logoutButton:active{
    transform: scale(0.99);
    transition: all 0.2s;
}