@import '../../common/Variables.css';

.card{
    padding: 20px;
    min-width: 300px;
    width:100%;
    margin: auto;
    border-radius: var(--border-radius);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    flex-flow: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    box-sizing: border-box; 
}