.sideBarContainer{
    height: 100vh;
    width: 250px;
    z-index: 100000;
    background-color: white;
    left: 0;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 15px 15px 0 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.profileContainer{
    width: 100%;
    border-top:1px solid #e3e3e3;
    margin-top: auto;
}

.profileSection{
    width: 90%;
    margin: auto;
    height: 70px ;
    display: flex;
    flex-flow: row;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.profilePicture{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    text-align: center;
    color: white;
    background-color: rgb(255, 76, 103);
    display: flex;
    align-items: center;
    justify-content: center;
}

.userName {
    font-size: medium;
}

.usernameInitial{
    font-size: medium;
}

.sideBarMenu{
    margin-top: 40px;
    display: flex;
    flex-flow: column;
    flex-direction: column;
    gap: 20px;
}

.sidebarMenuButton{
    border-radius: var(--border-radius);
    border: none!important;
    background-color: transparent;
    font-size: medium;
    display: flex;
    flex-flow: row;
    flex-direction: row;
    gap:10px;
    color: rgb(110, 110, 110);
    padding: 10px;
}

.sidebarMenuButton:hover{
    cursor: pointer;
    background-color: #e3e3e3;
    color:rgb(46, 46, 46);
}

.sidebarMenuButton:active{
    color: var(--primary-btn-color);
    background-color: rgb(238, 238, 250);
}

.sideBarMenuButtonActive{
    color: var(--primary-btn-color);
    background-color: rgb(238, 238, 250);
}