.bottomBarContainer{
    display: flex;
    box-sizing: border-box;
    flex-flow: row;
    flex-direction: row;
    width: 100%;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: white;
    padding: 0 40px;
}

@media (min-width: 1024px) {
    .bottomBarContainer{
        display: none;
    }
}